{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template theme_space/tmpl-frontpage

    Context variables required for this template:
    * sitename - The name of the site
    * output - The core renderer for the page
    * bodyattributes - attributes for the body tag as a string of html attributes
    * sidepreblocks - HTML for the blocks
    * hasblocks - true if there are blocks on this page
    * navdraweropen - true if the nav drawer should be open on page load
    * regionmainsettingsmenu - HTML for the region main settings menu
    * hasregionmainsettingsmenu - There is a region main settings menu on this page.

    Example context (json):
    {
        "sitename": "Moodle",
        "output": {
            "doctype": "<!DOCTYPE html>",
            "page_title": "Test page",
            "favicon": "favicon.ico",
            "main_content": "<h1>Headings make html validators happier</h1>"
         },
        "bodyattributes":"",
        "sidepreblocks": "<h2>Blocks html goes here</h2>",
        "hasblocks":true,
        "navdraweropen":true,
        "regionmainsettingsmenu": "",
        "hasregionmainsettingsmenu": false
    }
}}
{{> theme_space/head }}

<body {{{ bodyattributes }}}>
    {{> core/local/toast/wrapper}}

    <div id="page-wrapper" class="d-print-block">

        {{{ output.standard_top_of_body_html }}}

        {{> theme_space/navbar }}

        {{^hiddensidebar}}
            {{> theme_space/nav-drawer }}
        {{/hiddensidebar}}

        {{#hasblocks}}
            {{< theme_space/drawer }}
                {{$id}}space-drawers-blocks{{/id}}
                {{$drawerclasses}}rui-right-drawer rui-blocks-column rui-blocks-area drawer drawer-right {{#blockdraweropen}} show{{/blockdraweropen}}{{/drawerclasses}}
                {{$drawercontent}}
                    <section class="d-print-none" aria-label="{{#str}}blocks{{/str}}">
                        {{{ addblockbutton }}}
                        {{{ sidepreblocks }}}
                    </section>
                {{/drawercontent}}
                {{$drawerpreferencename}}drawer-open-block{{/drawerpreferencename}}
                {{$forceopen}}{{#forceblockdraweropen}}1{{/forceblockdraweropen}}{{/forceopen}}
                {{$drawerstate}}show-drawer-right{{/drawerstate}}
                {{$tooltipplacement}}left{{/tooltipplacement}}
                {{$drawercloseonresize}}1{{/drawercloseonresize}}
                {{$closebuttontext}}{{#str}}closeblockdrawer, core{{/str}}{{/closebuttontext}}
            {{/ theme_space/drawer}}
        {{/hasblocks}}
    
         {{#hiddensidebar}}
         <div>
            <div class="hero_-home">
                <div class="hero-container_home">
                    <div class="hero-content_home">
                        <h1>Learn, Grow <span class="hero-highlight">and Serve.</span></h1>
                        <p class="hero-description_home">
                            Access to high-quality training opportunities enhances your skills for professional success and contributes to improved service delivery across all levels of local governance.
                        </p>
                        <a href="/course/index.php" class="btn btn-primary btn-lg mt-3 explore_courses_btn">Explore Courses</a>
                    </div>
                    <div class="hero-images_home">
                        <img src="{{wwwroot}}/theme/space/pix/herro_image_right.svg" alt="E-Learning Illustration" class="hero-illustration">
                    </div>
                </div>
            </div>

    {{/hiddensidebar}} 

    
    
  
        <div id="page" data-region="mainpage" data-usertour="scroller" class="drawers main_content_display {{#blockdraweropen}}show-hidden-drawer{{/blockdraweropen}} {{#blockdraweropen}}show-drawer-right{{/blockdraweropen}} drag-container">
            
            <div id="topofscroll" class="main-inner">
                <div id="page-content" class="page-content wrapper-page">

                    <div class="drawer-toggles d_flex">
                        {{#hasblocks}}
                            <div id="sidepreopen-control" class="drawer-toggler drawer-right-toggle ml-auto d-print-none">
                                <button
                                    class="btn border-0 icon-no-margin drawertoggle btn-close-drawer--right"
                                    data-toggler="drawers"
                                    data-action="toggle"
                                    data-target="space-drawers-blocks"
                                    data-toggle="tooltip"
                                    data-placement="right"
                                    title="{{#str}}opendrawerblocks, core{{/str}}"
                                >
                                    <span class="sr-only">{{#str}}opendrawerblocks, core{{/str}}</span>
                                    <span class="dir-rtl-hide">
                                        <svg width="20" height="20" viewBox="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;">
                                            <g transform="matrix(1,0,0,1,-2,0)">
                                                <path d="M18.333,15L18.333,5C18.333,3.629 17.205,2.5 15.833,2.5L14.167,2.5C12.795,2.5 11.667,3.629 11.667,5L11.667,15C11.667,16.371 12.795,17.5 14.167,17.5L15.833,17.5C17.205,17.5 18.333,16.371 18.333,15Z" style="fill:none;fill-rule:nonzero;stroke:currentColor;stroke-width:1.67px;" />
                                            </g>
                                            <g transform="matrix(1,0,0,1,-2,0)">
                                                <path d="M11.667,10L5,10M5,10L7.5,7.5M5,10L7.5,12.5" style="fill:none;fill-rule:nonzero;stroke:currentColor;stroke-width:1.25px;stroke-linecap:round;stroke-linejoin:round;" />
                                            </g>
                                        </svg>
                                    </span>
                                    <span class="dir-ltr-hide">
                                        <svg width="20" height="20" viewBox="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;">
                                            <g transform="matrix(1,0,0,1,-2,0)">
                                                <path d="M18.333,15L18.333,5C18.333,3.629 17.205,2.5 15.833,2.5L14.167,2.5C12.795,2.5 11.667,3.629 11.667,5L11.667,15C11.667,16.371 12.795,17.5 14.167,17.5L15.833,17.5C17.205,17.5 18.333,16.371 18.333,15Z" style="fill:none;fill-rule:nonzero;stroke:currentColor;stroke-width:1.67px;" />
                                            </g>
                                            <g transform="matrix(1,0,0,1,-2,0)">
                                                <path d="M11.667,10L5,10M5,10L7.5,7.5M5,10L7.5,12.5" style="fill:none;fill-rule:nonzero;stroke:currentColor;stroke-width:1.25px;stroke-linecap:round;stroke-linejoin:round;" />
                                            </g>
                                        </svg>                            
                                    </span>
                                </button>
                            </div>
                        {{/hasblocks}}
                    </div>

                    {{{ output.breadcrumbs }}}

                    {{#secondarymoremenu}}
                        <div class="secondary-navigation d-print-none">
                            {{> core/moremenu}}
                        </div>
                    {{/secondarymoremenu}}

                    {{{coursepageinformationbanners}}}
                    <div class="wrapper-header">
                        {{#headeractions}}
                            <div class="header-actions-container ml-1" data-region="header-actions-container">
                                <div class="header-action">{{{.}}}</div>
                            </div>
                        {{/headeractions}}
                        {{{pageheadingbutton}}}
                    </div>
                    

                    <div id="region-main-box" class="region-main-wrapper mt-4">
                        <section id="region-main" class="region-main-content {{#hasblocks}}has-blocks{{/hasblocks}}" aria-label="{{#str}}content{{/str}}">
                            <div {{#hasblocks}}class="blocks-wrapper d-inline-flex justify-content-between w-100" {{/hasblocks}}>
                                <div {{#hasblocks}}class="wrapper-blocks"{{/hasblocks}}>
                                    {{#hasregionmainsettingsmenu}}
                                        <div class="region_main_settings_menu_proxy"></div>
                                    {{/hasregionmainsettingsmenu}}

                                    {{#headercontent}}
                                        {{> core/activity_header }}
                                    {{/headercontent}}
                                    {{#overflow}}
                                        <div class="container-fluid tertiary-navigation">
                                            <div class="navitem">
                                                {{> core/url_select}}
                                            </div>
                                        </div>
                                    {{/overflow}}

                                    {{{ruiscb}}}

                                </div>
                            </div>
                            {{#hiddensidebar}}
                                <!-- quality section -->

                                <!-- mission section -->
                                <div class="mission-section">
                                    <div class="mission-container">
                                        <!-- Top Section: Our Mission -->
                                        <div class="mission-top">
                                            <div class="mission-image-left">
                                                <img src="{{wwwroot}}/theme/space/pix/quality_training_right_image.svg" alt="Our Mission" />
                                            </div>
                                            <div class="mission-content">
                                                <h2 class="mission-title">Our Mission</h2>
                                                <h3 class="mission-subtitle">Mission & Platform Purpose</h3>
                                                <p class="mission-description">
                                                    The mission of RALGA's e-learning hub is centered on the commitment of quality education to enhance training opportunities to the sector leaders and staff members across Rwanda. We provide accessible, high-quality training designed to build strong local governance, improve service delivery, and empower district and sector officials with the skills they need to drive sustainable development. The platform supports continuous professional growth, aligning with Rwanda's vision for a responsive, citizen-centered public administration.
                                                </p>
                                            </div>
                                        </div>

                                        <!-- Bottom Section: Partnership & Goals -->
                                        <div class="mission-bottom">
                                            <div class="partnership-content">
                                                <h3 class="partnership-title">Partnership & Goals</h3>
                                                <p class="partnership-description">
                                                    In partnership with government partners, MINALOC and LODA, the platform promotes knowledge sharing and peer learning, contributing to accountable and performance-driven local governments aligned with the national strategy and development priorities.
                                                </p>
                                            </div>
                                            <div class="mission-image-right">
                                                <img src="{{wwwroot}}/theme/space/pix/mission_image_hat.svg" alt="Partnership Goals" />
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- platform offers section -->
                                <div class="platform-offers-section">
                                    <div class="platform-offers-container">
                                        <h2 class="platform-offers-title">What This Platform Offers</h2>
                                        <p class="platform-offers-subtitle">
                                            This platform delivers practical online training in key areas like CRVS, MEIS, and SRIS to build skills and strengthen local governance.
                                        </p>

                                        <div class="offers-cards">
                                            <div class="offer-card">
                                                <div class="offer-icon">
                                                    <i class="fas fa-users"></i>
                                                </div>
                                                <h3 class="offer-card-title">Specialized <span class="highlight">Governance</span> Training</h3>
                                                <p class="offer-card-description">
                                                    Training local government officials on topics such as CRVS, MEIS, SRIS and so on
                                                </p>
                                            </div>

                                            <div class="offer-card">
                                                <div class="offer-icon">
                                                    <i class="fas fa-tools"></i>
                                                </div>
                                                <h3 class="offer-card-title">Capacity <span class="highlight">Growth</span> Programs</h3>
                                                <p class="offer-card-description">
                                                    Offering courses to develop skills in specific areas
                                                </p>
                                            </div>

                                            <div class="offer-card">
                                                <div class="offer-icon">
                                                    <i class="fas fa-clock"></i>
                                                </div>
                                                <h3 class="offer-card-title">Learning <span class="highlight">at Your</span> Convenience</h3>
                                                <p class="offer-card-description">
                                                    Providing access to educational materials and training from anywhere, promoting continuous learning and development
                                                </p>
                                            </div>

                                            <div class="offer-card">
                                                <div class="offer-icon">
                                                    <i class="fas fa-microchip"></i>
                                                </div>
                                                <h3 class="offer-card-title">Strengthening <span class="highlight">Digital</span> Capacity</h3>
                                                <p class="offer-card-description">
                                                    Providing access to educational materials and training from anywhere, promoting continuous learning and development
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                              
                            <section class="partners-section" id="partner_home_section">
                                <div class="container">
                                    <h2 class="partners-title">Our Partners</h2>
                                    <div class="row App justify-content-center">
                                        <div class=" slide-container">
                                           
                                        <div class="d_flex">
                                                <img src="{{partner4url}}?height=80&width=120"  alt="Regional Hospital" class="partner-logo">
                                                <img src="{{partner2url}}?height=80&width=120" style="width: 300px;" alt="Medical Center" class="partner-logo">
                                                <img src="{{partner1url}}?height=80&width=120" alt="Healthcare Plus" class="partner-logo">
                                                <img src="{{partner4url}}?height=80&width=120" alt="Regional Hospital" class="partner-logo">
                                                <img src="{{partner5url}}?height=80&width=120" alt="Regional Hospital" class="partner-logo">




                                            <!--
                                        <div class="col-lg-3 col-md-3 col-sm-4 col-4">
                                            <div class="partner-item">
                                                <img src="{{partner2url}}?height=80&width=120" alt="Medical Center" class="partner-logo">
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-3 col-sm-4 col-4">
                                            <div class="partner-item">
                                                <img src="{{partner1url}}?height=80&width=120" alt="Healthcare Plus" class="partner-logo">
                                            </div>
                                        </div>
                                        
                                        <div class="col-lg-3 col-md-3 col-sm-4 col-4">
                                            <div class="partner-item">
                                                <img src="{{partner3url}}?height=80&width=120" alt="Pacific Health" class="partner-logo">
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-3 col-sm-4 col-4">
                                            <div class="partner-item">
                                                <img src="{{partner4url}}?height=80&width=120" alt="Regional Hospital" class="partner-logo">
                                            </div>
                                        </div>
                                         <div class="col-lg-3 col-md-3 col-sm-4 col-4">
                                            <div class="partner-item">
                                                <img src="{{partner5url}}?height=80&width=120" alt="Regional Hospital" class="partner-logo">
                                            </div>
                                        </div>
                                        -->
                                         </div>
                                          <div class="d_flex">
                                                <img src="{{partner4url}}?height=80&width=120" alt="Regional Hospital" class="partner-logo">
                                                <img src="{{partner2url}}?height=80&width=120" style="width: 300px;" alt="Medical Center" class="partner-logo">
                                                <img src="{{partner1url}}?height=80&width=120" alt="Healthcare Plus" class="partner-logo">
                                                <img src="{{partner4url}}?height=80&width=120" alt="Regional Hospital" class="partner-logo">
                                                <img src="{{partner5url}}?height=80&width=120" alt="Regional Hospital" class="partner-logo">

                                            </div>
                                    </div>
                                    </div>
                                </div>
                            </section>
                            {{/hiddensidebar}}
    
                            {{{ output.activity_navigation }}}
                            {{{ output.course_content_footer }}}
                        </section>
                    </div>
                </div>
            </div>
            {{> theme_space/footer }}
        </div>
        </div>
        

        {{{ output.standard_after_main_region_html }}}

    </div>
     

</body>
{{#hiddensidebar}}
  <style>
    #page-wrapper #page {
        height: fit-content;
        padding-right: 0 !important;
        padding-left: 0 !important;
    }

    /* Responsive breakpoints for Platform Offers */
    @media only screen and (max-width: 1400px) {
        .offers-cards {
            grid-template-columns: repeat(4, 1fr) !important;
            gap: 25px !important;
        }
        .offer-card {
            padding: 60px 30px 55px !important;
        }
    }

    @media only screen and (max-width: 1200px) {
        .offers-cards {
            grid-template-columns: repeat(3, 1fr) !important;
            gap: 25px !important;
        }
        .platform-offers-container {
            max-width: 1000px !important;
        }
    }

    @media only screen and (max-width: 992px) {
        .offers-cards {
            grid-template-columns: repeat(2, 1fr) !important;
            gap: 30px !important;
        }
        .platform-offers-container {
            max-width: 700px !important;
        }
        .offer-card {
            padding: 60px 30px 55px !important;
        }
    }

    @media only screen and (max-width: 800px){
        #page-wrapper #page {
            padding-right: 15px !important;
            padding-left: 15px !important;
        }
        .rui-title-container{
            margin-top: -37px !important;
            margin-bottom: -31px !important;
        }
        .explore_courses_btn {
            max-width: 300px;
            font-size: .9rem !important;
        }
        #page {
            overflow-y: hidden;
            height: fit-content;
        }
        .hero_-home {
            min-height: fit-content !important;
            padding-top: 100px !important;
            padding-bottom: 40px;
        }
        .hero-container_home {
            flex-direction: column !important;
            gap: 40px !important;
        }
        .hero-content_home h1{
            font-size: 2.5rem !important;
            text-align: center !important;
        }
        .hero-description_home {
            font-size: 0.95rem !important;
            text-align: center !important;
            padding: 0 15px;
        }
        .hero-content_home {
            display: flex !important;
            flex-direction: column !important;
            align-items: center !important;
            text-align: center !important;
            max-width: 100% !important;
        }
        .hero-images_home {
            max-width: 100% !important;
        }
        .quality-section {
            padding: 60px 0 !important;
            margin: 40px 0 !important;
        }
        .quality-container {
            flex-direction: column !important;
            gap: 40px !important;
        }
        .quality-image {
            max-width: 100% !important;
            order: 2;
        }
        .quality-content {
            max-width: 100% !important;
            text-align: center;
            order: 1;
        }
        .quality-title {
            font-size: 2rem !important;
        }
        .quality-description {
            font-size: 1rem !important;
        }
        .mission-section {
            padding: 60px 0 !important;
            margin: 40px 0 !important;
        }
        .mission-top {
            flex-direction: column !important;
            gap: 40px !important;
            margin-bottom: 60px !important;
        }
        .mission-image-left {
            flex: 1 !important;
            max-width: 100% !important;
            order: 2;
        }
        .mission-content {
            order: 1;
        }
        .mission-title {
            font-size: 2rem !important;
        }
        .mission-subtitle {
            font-size: 1.3rem !important;
        }
        .mission-description {
            font-size: 0.95rem !important;
        }
        .mission-bottom {
            flex-direction: column !important;
            gap: 40px !important;
        }
        .partnership-content {
            order: 1;
        }
        .partnership-title {
            font-size: 1.5rem !important;
        }
        .partnership-description {
            font-size: 0.95rem !important;
        }
        .mission-image-right {
            flex: 1 !important;
            max-width: 100% !important;
            order: 2;
        }
        .platform-offers-section {
            padding: 60px 0 !important;
            margin: 40px 0 !important;
        }
        .platform-offers-title {
            font-size: 1.8rem !important;
        }
        .platform-offers-subtitle {
            font-size: 0.9rem !important;
            margin-bottom: 40px !important;
        }
        .offers-cards {
            grid-template-columns: 1fr !important;
            gap: 20px !important;
            max-width: 350px;
            margin: 0 auto;
        }
        .offer-card {
            padding: 45px 25px 40px !important;
            aspect-ratio: 1 / 1.1 !important;
        }
        .offer-icon {
            width: 45px !important;
            height: 45px !important;
            font-size: 1.2rem !important;
            margin-bottom: 12px !important;
        }
        .offer-card-title {
            font-size: 0.85rem !important;
            margin-bottom: 8px !important;
            padding: 0 5px !important;
        }
        .offer-card-description {
            font-size: 0.7rem !important;
            padding: 0 8px !important;
            line-height: 1.4 !important;
        }
        .about-title {
            font-size: 1.5rem !important;
            margin-top: 10px !important;
        }
        .description__-_container{
            padding-top: 40px !important;
            grid-template-columns: 1fr !important;
            gap: 20px !important;
            padding: 40px 15px !important;
        }

        .about-section-card {
            padding: 30px 20px !important;
        }

        .who-we-are-card {
            flex-direction: column !important;
            grid-column: span 1 !important;
        }

        .who-we-are-image {
            max-width: 100% !important;
            order: -1;
        }

        .about-card-highlight,
        .about-card-vision {
            grid-column: span 1 !important;
        }

        .about-section-title {
            font-size: 1.4rem !important;
        }

        .about-section-text {
            font-size: 0.95rem !important;
        }

        .about-icon-wrapper {
            width: 60px !important;
            height: 60px !important;
        }

        .about-icon-wrapper i {
            font-size: 1.5rem !important;
        }

        .skills-grid {
            grid-template-columns: 1fr !important;
            gap: 10px !important;
        }

        .skill-badge {
            font-size: 0.85rem !important;
            padding: 10px 15px !important;
        }
        .section-title {
            font-size: 1.5rem !important;
            margin-bottom: 2rem !important;
        }
        .offer_details{
            gap: 40px  !important;
        }
        .offers-section {
            padding-bottom: 0  !important;
        }
        .partners-section {
            margin: 0 !important;
        }
        .d_flex {
            gap: 40px !important;
        }

    }

    /* Extra small devices (phones) */
    @media only screen and (max-width: 576px) {
        .platform-offers-section {
            padding: 40px 0 !important;
            margin: 30px 0 !important;
        }
        .platform-offers-title {
            font-size: 1.5rem !important;
        }
        .platform-offers-subtitle {
            font-size: 0.85rem !important;
            margin-bottom: 30px !important;
            padding: 0 10px !important;
        }
        .offers-cards {
            grid-template-columns: 1fr !important;
            gap: 20px !important;
            max-width: 280px !important;
            margin: 0 auto !important;
        }
        .offer-card {
            padding: 45px 25px 40px !important;
            aspect-ratio: 1 / 1.1 !important;
        }
        .offer-icon {
            width: 45px !important;
            height: 45px !important;
            font-size: 1.2rem !important;
            margin-bottom: 12px !important;
        }
        .offer-card-title {
            font-size: 0.8rem !important;
            margin-bottom: 8px !important;
            padding: 0 5px !important;
        }
        .offer-card-description {
            font-size: 0.68rem !important;
            padding: 0 10px !important;
            line-height: 1.35 !important;
        }
    }

    .main_content_display{
        overflow-y: hidden;
        height: fit-content;
    }
    .App {
    overflow: hidden;
  
  }
  
  .slide-container {
    display: flex;
    overflow: hidden;
    width: 400%;
    gap:100px;
  }

    .d_flex {
        display: flex;
        animation: animateContainer 10s linear  infinite;
        gap:100px;
        justify-content: center;
        align-items: center;
  
    }
  
    .slide-container:hover .d_flex{
      animation-play-state: paused;
    }
    
    @keyframes animateContainer {
      from {
        transform: translateX(0);
      }
      to {
        transform: translateX(-100%);
      }
    }
  
    @media only screen and (max-width: 800px){
      .slide-container{
        width: 800%;
      }
      .d_flex{
        animation: animateContainer 10s linear  infinite;
      }
    }

    

       .offers-section {
            padding: 80px 0;
        }
        
        .section-title {
            font-size: 2rem;
            font-weight: 700;
            color: #1c9ff9;
            text-align: center;
            margin-bottom: 4rem;
            margin-top: 20px
        }

        .offer-card {
            background: white;
            border-radius: 15px;
            padding: 2rem;
            text-align: center;
            box-shadow: 0 5px 20px rgba(28, 159, 249, 0.15);
            transition: all 0.3s ease;
            height: 100%;
            border: 1px solid rgba(28, 159, 249, 0.1);
        }

        .offer-card:hover {
            transform: translateY(-10px);
            box-shadow: 0 15px 40px rgba(28, 159, 249, 0.25);
            border-color: rgba(28, 159, 249, 0.3);
        }

        .offer-icon {
            width: 60px;
            height: 60px;
            background: linear-gradient(135deg, #1c9ff9 0%, #0d7bc9 100%);
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0 auto 1.5rem;
            font-size: 2rem;
            color: white;
            box-shadow: 0 4px 15px rgba(28, 159, 249, 0.3);
        }

        .offer-title {
            font-size: 1rem;
            font-weight: 600;
            color: #0d7bc9;
            margin-bottom: 1rem;
        }
        
        .offer-description {
            color: #64748b;
    line-height: 1.6;
    font-size: 14px;
        }
    
  /* RALGA Brand Colors */
  :root {
    --ralga-primary: #1c9ff9;
    --ralga-primary-dark: #0d7bc9;
    --ralga-primary-light: #4db3fc;
  }

  /* Button Styles */
  .btn-primary, .explore_courses_btn {
    background: #1C9FF9 !important;
    border: none !important;
    color: white !important;
    padding: 14px 32px !important;
    font-weight: 600 !important;
    border-radius: 8px !important;
    box-shadow: none !important;
    transition: all 0.3s ease !important;
  }

  .btn-primary:hover, .explore_courses_btn:hover {
    background: #0D7BC9 !important;
    transform: translateY(-2px) !important;
    box-shadow: 0 4px 10px rgba(28, 159, 249, 0.3) !important;
    color: white !important;
  }

  .hero_-home {
            background: #ffffff;
            padding: 20px 0;
            position: relative;
            overflow: hidden;
            display: flex;
            padding-top: 100px;
        }

        .hero-container_home {
            max-width: 1200px;
            margin: 0 auto;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            text-align: left;
            padding: 0 20px;
            position: relative;
            gap: 60px;
        }

        .hero-content_home {
            margin-top: 0;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            max-width: 550px;
            flex: 1;
        }

        .hero-content_home h1 {
            font-size: 3.5rem;
            font-weight: 700;
            margin-bottom: 24px;
            line-height: 1.2;
            text-align: left;
            color: #1a1a1a;
        }

        .hero-highlight {
            color: #3C31AB;
        }

        .hero-description_home {
            font-size: 1rem;
            line-height: 1.6;
            max-width: 500px;
            text-align: left;
            margin-bottom: 32px;
            color: #1a1a1a;
        }

        .hero-images_home {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            flex: 1;
            max-width: 550px;
        }

        .hero-illustration {
            width: 100%;
            height: auto;
            display: block;
        }

        .person-image_home {
            width: 200px;
            height: 250px;
            background: rgba(255, 255, 255, 0.1);
            border-radius: 20px;
            margin: 0 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            backdrop-filter: blur(10px);
        }

        /* Quality Section */
        .quality-section {
            background: url('{{wwwroot}}/theme/space/pix/quality_traing_bg.svg');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            padding: 80px 0;
            margin: 60px 0;
        }

        .quality-container {
            max-width: 1200px;
            margin: 0 auto;
            padding: 0 20px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 80px;
        }

        .quality-image {
            flex: 1;
            max-width: 450px;
        }

        .quality-image img {
            width: 100%;
            height: auto;
            display: block;
        }

        .quality-content {
            flex: 1;
            max-width: 600px;
        }

        .quality-title {
            font-size: 3rem;
            font-weight: 700;
            color: #1a1a1a;
            margin-bottom: 24px;
            line-height: 1.2;
        }

        .quality-description {
            font-size: 1.1rem;
            line-height: 1.8;
            color: #1a1a1a;
        }

        /* Mission Section */
        .mission-section {
            background: #ffffff;
            padding: 80px 0;
            margin: 60px 0;
        }

        .mission-container {
            max-width: 1200px;
            margin: 0 auto;
            padding: 0 20px;
        }

        .mission-top {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 80px;
            margin-bottom: 80px;
        }

        .mission-image-left {
            flex: 0 0 480px;
            max-width: 480px;
        }

        .mission-image-left img {
            width: 100%;
            height: auto;
            display: block;
        }

        .mission-content {
            flex: 1;
        }

        .mission-title {
            font-size: 2.5rem;
            font-weight: 700;
            color: #1C9FF9;
            margin-bottom: 16px;
            line-height: 1.2;
        }

        .mission-subtitle {
            font-size: 1.5rem;
            font-weight: 600;
            color: #1a1a1a;
            margin-bottom: 24px;
        }

        .mission-description {
            font-size: 1rem;
            line-height: 1.8;
            color: #475569;
            max-width: 600px;
        }

        .mission-bottom {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 80px;
        }

        .partnership-content {
            flex: 1;
        }

        .partnership-title {
            font-size: 1.8rem;
            font-weight: 700;
            color: #1C9FF9;
            margin-bottom: 16px;
        }

        .partnership-description {
            font-size: 1rem;
            line-height: 1.8;
            color: #475569;
            max-width: 600px;
        }

        .mission-image-right {
            flex: 0 0 450px;
            max-width: 450px;
        }

        .mission-image-right img {
            width: 100%;
            height: auto;
            display: block;
        }

        /* Platform Offers Section */
        .platform-offers-section {
            background: #EEEDEE;
            padding: 80px 0;
            margin: 60px 0;
        }

        .platform-offers-container {
            max-width: 1500px;
            margin: 0 auto;
            padding: 0 20px;
            text-align: center;
        }

        .platform-offers-title {
            font-size: 2.5rem;
            font-weight: 700;
            color: #1C9FF9;
            margin-bottom: 20px;
            line-height: 1.2;
        }

        .platform-offers-subtitle {
            font-size: 1rem;
            line-height: 1.6;
            color: #1a1a1a;
            max-width: 700px;
            margin: 0 auto 60px;
        }

        .offers-cards {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 30px;
        }

        .offer-card {
            background-image: url('{{wwwroot}}/theme/space/pix/diamond_card.svg');
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            background-color: transparent;
            padding: 70px 35px 60px;
            transition: all 0.3s ease;
            text-align: center;
            position: relative;
            aspect-ratio: 1 / 1.15;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border: none;
            box-shadow: none;
        }

        .offer-card:hover {
            transform: translateY(-8px) scale(1.03);
            box-shadow: none;
            filter: brightness(1.05);
        }

        .offer-icon {
            width: 60px;
            height: 60px;
            background: linear-gradient(135deg, #1C9FF9 0%, #0D7BC9 100%);
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0 auto 18px;
            font-size: 1.6rem;
            color: white;
            flex-shrink: 0;
            box-shadow: none;
        }

        .offer-card-title {
            font-size: 1rem;
            font-weight: 700;
            color: #1a1a1a;
            margin-bottom: 12px;
            line-height: 1.3;
            padding: 0 10px;
        }

        .offer-card-title .highlight {
            color: #1C9FF9;
        }

        .offer-card-description {
            font-size: 0.8rem;
            line-height: 1.5;
            color: #1a1a1a;
            padding: 0 15px;
        }

        /* About Section - Modern Card Design */
        .description__-_container {
            max-width: 1200px;
            margin: 0 auto;
            padding: 80px 20px;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 30px;
        }

        .about-section-card {
            background: white;
            border-radius: 20px;
            padding: 40px;
            box-shadow: 0 10px 30px rgba(28, 159, 249, 0.1);
            transition: all 0.4s ease;
            border: 2px solid transparent;
            position: relative;
            overflow: hidden;
        }

        .about-section-card::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 4px;
            background: linear-gradient(90deg, #1c9ff9 0%, #0d7bc9 100%);
        }

        .about-section-card:hover {
            transform: translateY(-10px);
            box-shadow: 0 20px 50px rgba(28, 159, 249, 0.2);
            border-color: rgba(28, 159, 249, 0.3);
        }

        .about-card-highlight {
            grid-column: span 2;
            background: linear-gradient(135deg, rgba(28, 159, 249, 0.05) 0%, rgba(13, 123, 201, 0.05) 100%);
        }

        .about-card-vision {
            grid-column: span 1;
            background: linear-gradient(135deg, rgba(28, 159, 249, 0.08) 0%, rgba(255, 255, 255, 1) 100%);
        }

        .about-icon-wrapper {
            width: 70px;
            height: 70px;
            background: linear-gradient(135deg, #1c9ff9 0%, #0d7bc9 100%);
            border-radius: 15px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 25px;
            box-shadow: 0 8px 20px rgba(28, 159, 249, 0.3);
        }

        .about-icon-wrapper i {
            font-size: 2rem;
            color: white;
        }

        .about-section-title {
            font-size: 1.8rem;
            font-weight: 700;
            color: #1c9ff9;
            margin-bottom: 20px;
            line-height: 1.3;
        }

        .about-section-text {
            font-size: 1.1rem;
            color: #475569;
            line-height: 1.8;
            margin-bottom: 0;
        }

        /* Who We Are Card with Image */
        .who-we-are-card {
            display: flex;
            align-items: center;
            gap: 40px;
            grid-column: span 2;
        }

        .who-we-are-content {
            flex: 1;
        }

        .who-we-are-image {
            flex: 0 0 auto;
            max-width: 650px;
            width: 55%;
        }

        .who-we-are-image img {
            width: 100%;
            height: auto;
        }

        /* Skills Grid */
        .skills-grid {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 15px;
            margin-top: 25px;
        }

        .skill-badge {
            background: white;
            padding: 12px 20px;
            border-radius: 10px;
            font-size: 0.95rem;
            font-weight: 600;
            color: #0d7bc9;
            display: flex;
            align-items: center;
            gap: 10px;
            box-shadow: 0 4px 15px rgba(28, 159, 249, 0.15);
            transition: all 0.3s ease;
        }

        .skill-badge:hover {
            transform: translateX(5px);
            box-shadow: 0 6px 20px rgba(28, 159, 249, 0.25);
        }

        .skill-badge i {
            color: #1c9ff9;
            font-size: 1rem;
        }
           .partners-section {
            background-color: white;
            padding: 60px 0;
            margin-top: 60px;
        }
        
        .partners-title {
            text-align: center;
            font-size: 3rem;
            font-weight: 600;
            color: #1c9ff9;
            margin-bottom: 50px;
        }
        .about-title{
            text-align: center;
            font-size: 3rem;
            font-weight: 600;
            color: #1c9ff9;
            margin-top: 50px;
        }
        
        .partner-item {
            text-align: center;
            margin-bottom: 40px;
            transition: transform 0.3s ease;
        }
        
        .partner-item:hover {
            transform: translateY(-5px);
        }
        
        .partner-logo {
            width: 160px;
            height: auto;
            object-fit: contain;
            margin-bottom: 15px;
            transition: filter 0.3s ease;
        }
        
        .partner-logo:hover {
            filter: grayscale(0%);
        }
        
        .partner-name {
            font-size: 0.9rem;
            font-weight: 500;
            color: #666;
            margin-top: 10px;
        }
        
        @media (max-width: 768px) {
            .partners-title {
                font-size: 2rem;
                margin-bottom: 30px;
            }
            
            .partner-logo {
                width: 100px;
                height: 60px;
            }
            
            .partner-item {
                margin-bottom: 30px;
            }
        }
        
        @media (max-width: 576px) {
            .partners-title {
                font-size: 1.75rem;
            }
            
            .partner-logo {
                width: 80px;
                height: 50px;
            }
        }
    </style>
{{/hiddensidebar}}
</html>
{{#js}}
    M.util.js_pending('theme_space/loader');
    require(['theme_space/loader', 'theme_space/drawer'], function(Loader, Drawer) {
    Drawer.init();
    M.util.js_complete('theme_space/loader');
    });
{{/js}}
